/* Basic reset for margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    display: flex;
    max-width: 100%;
    width: 100%;
    box-shadow: 0 4px 8px rgba(237, 236, 226, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

/* Sidebar Styles */
.sidebar {
    background-color: #AD102A;
    color: #EDECE2;
    width: 200px;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}

/* Main Content Styles */
.content {
    padding: 20px;
    background-color: #fff;
    flex: 1;
}

.content h1 {
    margin-bottom: 10px;
    color: #333;
}

.content p {
    margin-bottom: 20px;
}

.project {
    margin-bottom: 20px;
}

.project h2 {
    color: #333;
}

.project p {
    color: #666;
}

section {
    margin-bottom: 40px;
}
