/* Basic reset for margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* let content start at the top */
    min-height: 100vh;       /* allow expansion if content exceeds the viewport */
    height: auto;
    background-color: var(--med-tan);
    color: #333;
}

.container {
    display: flex;
    max-width: 90%;
    width: 90%;
    box-shadow: 0 4px 8px rgba(237, 236, 226, 0.1);
	border-radius: 10px;
	border-color: med-tan;
	border-width: 15px;
    overflow: hidden;
}

/* Sidebar Styles */
.sidebar {
	background-color: var(--accent-red);
	border-color: #EFDB72;
	border-width: 10px;
	color: #FAF9F7;
	width: 220px;
	padding: 20px;
	font-family: Georgia, serif;	
	border: 2px solid var(--accent-red);
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;	  
}

.sidebar h2 {
	margin-bottom: 20px;
	font-family: Georgia, serif;
}

.sidebar ul {
	list-style: none;
	margin-left: 12px;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}

/* Main Content Styles */
.content {
    padding: 20px;
    background-color: #fff;
    flex: 1;
	font-family: Arial, sans-serif;
	border: 3px solid var(--accent-red);
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.content h1,
.content h2,
.content h3{
    margin-bottom: 10px;
    color: #333;
	font-family: Georgia, serif;
}

.content h2{
	font-size: 18px;
}

.content p{
    margin-bottom: 20px;
	margin-left: 10px;
	font-family: Arial, sans-serif;
}

.content li{
	
	margin-left: 22px;
    margin-bottom: 10px;
}
.content ol{
	
    margin-left: 20px;
    margin-bottom: 20px;
}

.project {
    margin-bottom: 20px;
}

.project h2 {
    color: #333;
}

.project p {
    color: #666;
}

section {
    margin-bottom: 40px;
}
